@import "global";

h1 > span {
	opacity: 0.5;
	font-size: 0.4em;
}

a {
	display: block;
	background-color: var(--water);
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 8px;
	max-width: min-content;
	border: 2px solid var(--water);
	transition: all 0.2s;
	cursor: pointer;


	&:hover {
		color: var(--water);
		background-color: white;
	}
}
label {
	position: relative;
	input {
		padding: 8px 16px;
		border-radius: 8px;
		border: 2px solid #464141;
		background-color: white;
	}
}


.container {
	div {
		margin: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}