<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Class_pokemon</title>
    <script src="../data/charged_moves.js"></script>
    <script src="../data/cp_multiplier.js"></script>
    <script src="../data/fast_moves.js"></script>
    <script src="../data/generation.js"></script>
    <script src="../data/pokemon.js"></script>
    <script src="../data/pokemon_moves.js"></script>
    <script src="../data/pokemon_type.js"></script>
    <script src="../data/type_effectiveness.js"></script>
    <script src="../data/class_type.js"></script>
    <script src="../data/class_attack.js"></script>
    <script src="../data/class_pokemon.js"></script>
    <script src="../data/pokemonController.js"></script>
    <link rel="stylesheet" href="../css/template.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <script src="script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Table des pokémons</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Image</th>
                    <th>Génération</th>
                    <th>Types</th>
                    <th>Endurance</th>
                    <th>Pts d'attaque de base</th>
                    <th>Pts de défense de base</th>
                </tr>
            </thead>

            <tbody class="pokemon__table">
            </tbody>
        </table>
    </div>
</body>
</html>